extends ../templates/base-structure

block config
	- var title = 'Barker - 404' //- título de página

block main
	main.main.not-found
		section.section
			.container
				.row
					.col-lg-12
						img(src="./images/404.png", alt="")
						.subtitle.u-text-center
							h4 oh no! La página que solicitó no se#[br]pudo encontrar.
						p.u-text-center
							a.btn.btn--primary(href="./") Volver al inicio