extends ../templates/base-structure

block config
	- var title = 'BARKER - Blog'

block main
	- var current = 'Blog'
	- var classVisible = false

	include ../templates/header

	.page-wrap
		main.main.blog
			.blog-banner
				.owl-carousel.js-blog-carousel
					- for (var i = 1; i <= 3; i++) {
						.blog-banner__item(style="background-image: url('./images/blog/banner.jpg')")
							.container.u-full-height.u-flex.align-items-end
								.blog-banner__text
									h2 Type something
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
					- }

			.blog-categories
				.container
					.blog-categories__carousel
						.owl-carousel.js-categories-blog-carousel
							- for (var i = 1; i <= 10; i++) {
								.blog-categories__item(class=`${ i == 1 ? 'is-current' : '' }`)
									a(href="") Categoría #{i}
							- }

			section.section
				.container
					.row
						- for (var i = 1; i <= 6; i++) {
							.col-sm-6.col-lg-4.card-news
								a.card-news__wrapper(href="blog-interna.html")
									figure.card-news__image: img(src="./images/blog/noticia-01.jpg", alt="")
									.card-news__content
										h2.card-news__title Type something
										span.card-news__date 12 Julio 2018
										p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						- }
	
	include ../templates/footer