extends ../templates/base-structure

block config
	- var title = 'BARKER - Como funciona' //- title page

block main
	- var current = 'Conócenos'
	- var classVisible = false

	include ../templates/header
	
	nav.nav-secondary
		.nav-secondary__content
			.container.u-flex
				a(href="nosotros.html") Nosotros
				a(href="ingredientes.html") Ingredientes
				a.is-active(href="como-funciona.html") Cómo funciona
				a(href="faq.html") Preguntas frecuentes
	.page-wrap
		main.main
			.page-name
				h2 Como funciona

			section.section.function
				.container
					.section-header
						.title.u-text-center
							h2 ¿Cómo funciona?
					
					.function__main.tabs-nav
						ul.function__list.js-function-items.u-visible-tablet
							li.is-active(data-tab="1") Paso 1
							li(data-tab="2") Paso 2
							li(data-tab="3") Paso 3

						.function__carousel
							.owl-carousel.js-function-carousel
								-
									var steps = [ 
										{ image: 'step-1.png', title: 'Paso 1', text: 'Acércate al punto de venta más cercano o suscríbete por acá para recibir tu barker'},
										{ image: 'step-2.png', title: 'Paso 2', text: 'Mantén tu producto congelado y descongela la porción diaria antes de servirla'},
										{ image: 'step-3.png', title: 'Paso 3', text: '¡Observa la felicidad de tu perro!'}
									]

								each s in steps
									.card-simple
										figure.card-simple__image
											img(src=`./images/como-funciona/${s.image}`, alt="")
										h3.card-simple__title #{s.title}
										p #{s.text}

					.row
						.col-lg-12.u-text-center
							p.u-mtb--lv5
								span.text-black ¿Cuántas hamburguesas barker debes darle a tu perro?
								a.link.js-hamburguer-popup(href="") ¡Acá la respuesta!

							p.u-text-center
								a.btn.btn--primary(href="suscripcion.html") Diseña tu pedido

	include ../templates/footer