extends ../templates/base-structure

block config
	- var title = 'BARKER - Preguntas frecuentes' //- título de página

block main
	- var current = 'Conócenos'
	- var classVisible = false

	include ../templates/header
	
	.page-wrap
		main.main
			.page-name
				h2 Pedidos

			section.section.faq
				.container
					.row.justify-content-center
						.col-lg-10
							.section-header
								.title.u-text-center
									h2 Revisa tus pedidos
								p.u-text-center Type something Type something texto falso, es la muestra del texto falso, la del texto falso es un lorem ipsum la del texto falso es un lorem ipsum

					.tab.row
						.faq__categories.tabs-nav.col-lg-2.js-tabs
							.subtitle-xs: h5 Pedidos
							ul
								li(data-tab="1"): span Suscritos
								li(data-tab="2"): span Finalizados
						
						.tab__content.col-lg-10
							// Pedidos realizados
							#1.tab__content-item
								.orders-current__head
									h5 Tus pedidos
									button.js-show-order-all(type="button")
										| Mostrar todos
										svg: use(xlink:href="./images/sprite.svg#show")
								.row
									- for (var i = 1; i<= 3; i++) {
										.order-short.js-order-short.col-md-6(data-order-id=`o${i}`)
											.order-short__box
												.order-short__data
													figure.order-short__data-img: img(src="./images/avatar-dog.png", alt="")
													div.order-short__data-text
														h4 Caja de #[span Messi]
														span Creada el 24/10/17
												.order-short__action
													button.js-btn-remove-order(title="Eliminar pedido"): svg: use(xlink:href="./images/sprite.svg#trash")
											.order-short__detail
												p #[strong Luli] necesitaba 150 calorías diarias.
												form.form(action="" method="post")
													.field-wrapper.field-wrapper--simple
														label Estado de suscripción
														.switch
															label.switch__element
																input(type="checkbox" name=`f-suscription-status${i}` id=`f-suscription-status${i}` checked)
																span.switch__slider
															p.switch__result Renovación automática.

													.field-wrapper.field-wrapper--simple
														label Horario de entrega
														.radio-group.radio-group--full.row
															.radio.radio--small.col-md-6
																input(type="radio" name=`f-delivery-time${i}` id=`f-moorning${i}` value="cachorro" checked)
																label(for=`f-moorning${i}`)
																	.radio__content
																		.radio__text
																			h6 9am a 12pm
																			p Turno día
																	label.radio__icon(for=`f-moorning${i}`)
															.radio.radio--small.col-md-6
																input(type="radio" name=`f-delivery-time${i}` id=`f-afternoon${i}` value="adulto")
																label(for=`f-afternoon${i}`)
																	.radio__content
																		.radio__text
																			h6 1pm a 6pm
																			p Turno tarde
																	label.radio__icon(for=`f-afternoon${i}`)

													.field-wrapper.field-wrapper--simple
														label(for="cost") Costo de la suscripción
														.input
															input.fill(type="text" name=`f-cost${i}` id=`f-cost${i}` value="S/ 150.00 Mensual" disabled)

													.field-action
														button.btn.btn--primary(type="submit") Guardar cambios
									- }
							
							// Pedidos finalizados
							#2.tab__content-item
								.orders-current
									.row
										- for (var i = 1; i<= 2; i++) {
											.order-short.col-md-6(data-order-id=`0${i}`)
												.order-short__box
													.order-short__data
														figure.order-short__data-img: img(src="./images/avatar-dog.png", alt="")
														div.order-short__data-text
															h4 Caja de #[span Messi]
															span Creada el 24/10/17
													.order-short__action
														button.js-btn-enable-order(title="Habilitar pedido"): svg: use(xlink:href="./images/sprite.svg#enable")
														button.js-btn-info-order(title="Ver información"): svg: use(xlink:href="./images/sprite.svg#info")
												
												.js-info-order
													.order-info.popup-inner
														.order-info__content
															.order-info__head
																.subtitle-xs
																	h3 Caja de #[span Messi] - Detalles
															.order-info__body
																.order-info__row
																	p Barker x 1 semana
																	p Todas en presentación de 1KG, contenidas en 20 hamburguesas de 50 gramos cada una.
																.order-info__row
																	dl
																		dt Horario de entrega
																		dd De 9am a 12pm#[br]#[span Día]
																.order-info__row
																	dl
																		dt Envío
																		dd ¡GRATIS!
																		dt #[strong Total]
																		dd #[strong S/. 112.00]
										- }

	include ../templates/footer