- var title = ':: Project name ::'
block config

doctype html
html(lang="es")
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="author" content="")
		meta(property="og:title" content="")
		meta(property="og:description" content="")
		meta(property="og:site_name" content="")
		meta(property="og:url" content="")
		meta(property="og:image" content="")
		link(rel="shortcut icon" type="image/png" href="")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel='stylesheet', type='text/css', href='css/main.min.css')
		title #{title}
	body
		block main

		.hamburguer.popup-inner#barker-hamburguer
			.hamburguer__content
				.subtitle-xs
					h3 ¿Cuántas hamburguesas barker debes darle a tu perro?
				p *Cada hamburguesa contiene 50 gramos de barker
				
				.hamburguer__table
					table
						thead
							tr
								th PESO
								th CACHORRO
								th ADULTO
								th ADULTO MAYOR
								th GESTANTE/LACTANTE
						tbody
							tr
								td
								td 1.5 a 11 m
								td 12m a 8 años
								td 8 años a más
								td 1/3 gestación y lactancia							
							tr
								td 5 - 10 kg
								td 3
								td 4
								td 3
								td 6
							tr
								td 10 - 22 kg
								td 5
								td 8
								td 6
								td 12
							tr
								td 22 - 45 kg
								td 11
								td 16
								td 12
								td 24

				p.hamburguer__feedback *Actividad Física intermedia. De ser el caso de perros de alta actividad, considerar duplicar o triplicar la ración de acuerdo a la exigencia física.

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.0/TweenMax.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.debug.js")
		script(src="js/main.min.js")