/* ===========================
   COLORS
   =========================== */

/* Highlight colors */
$yellow: #eaba1b;
$yellow-dark: #E4AE17;
$gray-dark: #4f4e4c;
$gray-light: #858585;
$gray: #585858;
$brown-light: #BDA88F;
$brown-extralight: #F6F4F0;

/* Neutral colors */
$white: #FFF;
$black: #000;
$transparent: transparent;
