.faq {
  &__categories {
    ul {
      li {
        font-size: 18px;
        font-weight: normal;
        padding: 4px 0;
        color: lighten($gray-dark, 15%);
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-tap-highlight-color: $transparent;
  
        &.is-active {
          pointer-events: none;
          font-weight: bold;

          > span {
            border-bottom: 1px solid $gray;
          }
        }

        span {
          line-height: 1.1;
          display: inline-block;
        }

        + li {
          margin-top: 4px;
        }
      }
    }
  }

  @include mq('tablet-wide', max) {
    .panel-box {
      display: none;
    }

    &__categories {
      margin-top: -25px;

      .subtitle-xs {
        display: none;
      }
    }
  }

  @include mq('tablet', max) {
    .section-header {
      display: none;
    }
  }
}