.ingredients {
  &__featured {
    padding: 50px 0;

    &:first-of-type {
      padding-top: 0 !important;
    }

    img {
      @extend %center-block;
    }
  }

  @include mq('tablet-wide', max) {
    img {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 35px;
    } 
  }

	@include mq('tablet', max) {
    &__featured {
      padding: 30px 0;
    }

		.title {
			display: none;
		}

		img {
			width: 400px;
		}
  }
  
	@include mq('phablet', max) {
		img {
			width: 250px;
		}
	}
}


/* Benefits styles */
.benefits {
  &__main {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 20%;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: $transparent;
    z-index: 1;

    &.is-active {
      pointer-events: none;
      cursor: default;

      figure {
        transform: scale(1.2);

        img {
          filter: initial;
        }
      }
    }

    &:first-of-type {
      &::before {
        width: 0;
        height: 0;
      }
    }

    &:last-of-type {
      &::after {
        width: 0;
        height: 0;
      }
    }

    &::before,
    &::after {
      content: '';
      height: 5px;
      width: 50%;
      z-index: -1;
      background-color: $yellow;
      @include center-elm(false, true);
    }

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }

    figure {
      position: relative;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      transform: scale(1);
      transition: transform 250ms ease;
      @extend %center-block;
      
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        filter: grayscale(1);
        @include center-elm(true, true);
      }
    }
  }

  &__text {
    margin-top: 50px;
    margin-bottom: 45px;
  }

  @include mq('tablet', max) {
    padding-top: 0 !important;

    &__main {
      margin-top: 30px;
    }

    &__list {
      order: 2;
      margin-bottom: 40px;
    }

    &__text {
      margin-top: 0;

      .item {
        .subtitle-sm {
          h4 {
            font-family: $font-main;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
          } 
        }
      }
    }
  }

  @include mq('phablet', max) {
    &__item {
      &::before,
      &::after {
        width: 0 !important;
        height: 0 !important;
      }

      &.is-active {
        figure {
          transform: scale(1.35);
        }
      }

      figure {
        width: 44px;
        height: 44px;
      }
    }
    .btn {
      display: block;
    }
  }
}