/* Bootstrap only Grid */
@import "bootstrap/scss/bootstrap-grid.scss";

.container {
	@media (min-width: 1200px) {
		max-width: 1140px;
	}
}

/* Magnific popup */
@import 'magnific-popup/src/css/main';

.modal-inner {
	display: none;
	position: relative;

	.mfp-content & {
		display: block;
	}
}


@import 'owl.carousel/src/scss/owl.carousel.scss';

/* Custom OWL Carousel */
.owl-carousel {
	.owl-dots {
		text-align: center;
		padding-top: 14px;
	}

	button {
		&.owl-dot {
			margin: 0 5px;
			background-color: $yellow;
			@include circle(14px);

			&.active {
				background-color: $brown-light;
			}
		}
	}

	@include mq('tablet', max) {
		button {
			&.owl-dot {
				margin: 0 3px;
				width: 10px;
				height: 10px;
			}
		}
	}
}

/* ScrollMagic custom */
.ScrollSceneIndicators {
	opacity: 0;
}

/* Select2 styles */
@import "select2/src/scss/core.scss";

.select2-container {
	text-align: left;
	
	&--default {
		.select2-selection--single {
			border: 0;
			border-bottom: 1px solid $brown-light;
			border-radius: 0;
			height: 34px;
			outline: 0;
			box-shadow: none;

			.select2-selection__rendered {
				line-height: 34px;
				padding-left: 0;
				padding-right: 0;
			}

			.select2-selection__placeholder {
				color: rgba(#858585, .45);
			}
		}
		
		.select2-results__option--highlighted[aria-selected] {
			background-color: $yellow;
		}
	}
}

/* noUiSlider */
/*! nouislider - 11.1.0 - 2018-04-02 11:18:13 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
 .noUi-target,
 .noUi-target * {
	 -webkit-touch-callout: none;
	 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	 -webkit-user-select: none;
	 -ms-touch-action: none;
	 touch-action: none;
	 -ms-user-select: none;
	 -moz-user-select: none;
	 user-select: none;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
 }
 .noUi-target {
	 position: relative;
	 direction: ltr;
 }
 .noUi-base,
 .noUi-connects {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 z-index: 1;
 }
 /* Wrapper for all connect elements.
	*/
 .noUi-connects {
	 overflow: hidden;
	 z-index: 0;
 }
 .noUi-connect,
 .noUi-origin {
	 will-change: transform;
	 position: absolute;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 height: 100%;
	 width: 100%;
	 -ms-transform-origin: 0 0;
	 -webkit-transform-origin: 0 0;
	 transform-origin: 0 0;
 }
 /* Offset direction
	*/
 html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
	 left: auto;
	 right: 0;
 }
 /* Give origins 0 height/width so they don't interfere with clicking the
	* connect elements.
	*/
 .noUi-vertical .noUi-origin {
	 width: 0;
 }
 .noUi-horizontal .noUi-origin {
	 height: 0;
 }
 .noUi-handle {
	 position: absolute;
 }
 .noUi-state-tap .noUi-connect,
 .noUi-state-tap .noUi-origin {
	 -webkit-transition: transform 0.3s;
	 transition: transform 0.3s;
 }
 .noUi-state-drag * {
	 cursor: inherit !important;
 }
 /* Slider size and handle placement;
	*/
 .noUi-horizontal {
	 height: 18px;
 }
 .noUi-horizontal .noUi-handle {
	 width: 34px;
	 height: 28px;
	 left: -17px;
	 top: -6px;
 }
 .noUi-vertical {
	 width: 18px;
 }
 .noUi-vertical .noUi-handle {
	 width: 28px;
	 height: 34px;
	 left: -6px;
	 top: -17px;
 }
 html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
	 right: -17px;
	 left: auto;
 }
 /* Styling;
	* Giving the connect element a border radius causes issues with using transform: scale
	*/
 .noUi-target {
	 background: #FAFAFA;
	 border-radius: 4px;
	 border: 1px solid #D3D3D3;
	 box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
 }
 .noUi-connects {
	 border-radius: 3px;
 }
 .noUi-connect {
	 background: #3FB8AF;
 }
 /* Handles and cursors;
	*/
 .noUi-draggable {
	 cursor: ew-resize;
 }
 .noUi-vertical .noUi-draggable {
	 cursor: ns-resize;
 }
 .noUi-handle {
	 border: 1px solid #D9D9D9;
	 border-radius: 3px;
	 background: #FFF;
	 cursor: default;
	 box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
 }
 .noUi-active {
	 box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
 }
 /* Handle stripes;
	*/
 .noUi-handle:before,
 .noUi-handle:after {
	 content: "";
	 display: block;
	 position: absolute;
	 height: 14px;
	 width: 1px;
	 background: #E8E7E6;
	 left: 14px;
	 top: 6px;
 }
 .noUi-handle:after {
	 left: 17px;
 }
 .noUi-vertical .noUi-handle:before,
 .noUi-vertical .noUi-handle:after {
	 width: 14px;
	 height: 1px;
	 left: 6px;
	 top: 14px;
 }
 .noUi-vertical .noUi-handle:after {
	 top: 17px;
 }
 /* Disabled state;
	*/
 [disabled] .noUi-connect {
	 background: #B8B8B8;
 }
 [disabled].noUi-target,
 [disabled].noUi-handle,
 [disabled] .noUi-handle {
	 cursor: not-allowed;
 }
 /* Base;
	*
	*/
 .noUi-pips,
 .noUi-pips * {
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
 }
 .noUi-pips {
	 position: absolute;
	 color: #999;
 }
 /* Values;
	*
	*/
 .noUi-value {
	 position: absolute;
	 white-space: nowrap;
	 text-align: center;
 }
 .noUi-value-sub {
	 color: #ccc;
	 font-size: 10px;
 }
 /* Markings;
	*
	*/
 .noUi-marker {
	 position: absolute;
	 background: #CCC;
 }
 .noUi-marker-sub {
	 background: #AAA;
 }
 .noUi-marker-large {
	 background: #AAA;
 }
 /* Horizontal layout;
	*
	*/
 .noUi-pips-horizontal {
	 padding: 10px 0;
	 height: 80px;
	 top: 100%;
	 left: 0;
	 width: 100%;
 }
 .noUi-value-horizontal {
	 -webkit-transform: translate(-50%, 50%);
	 transform: translate(-50%, 50%);
 }
 .noUi-rtl .noUi-value-horizontal {
	 -webkit-transform: translate(50%, 50%);
	 transform: translate(50%, 50%);
 }
 .noUi-marker-horizontal.noUi-marker {
	 margin-left: -1px;
	 width: 2px;
	 height: 5px;
 }
 .noUi-marker-horizontal.noUi-marker-sub {
	 height: 10px;
 }
 .noUi-marker-horizontal.noUi-marker-large {
	 height: 15px;
 }
 /* Vertical layout;
	*
	*/
 .noUi-pips-vertical {
	 padding: 0 10px;
	 height: 100%;
	 top: 0;
	 left: 100%;
 }
 .noUi-value-vertical {
	 -webkit-transform: translate(0, -50%);
	 transform: translate(0, -50%, 0);
	 padding-left: 25px;
 }
 .noUi-rtl .noUi-value-vertical {
	 -webkit-transform: translate(0, 50%);
	 transform: translate(0, 50%);
 }
 .noUi-marker-vertical.noUi-marker {
	 width: 5px;
	 height: 2px;
	 margin-top: -1px;
 }
 .noUi-marker-vertical.noUi-marker-sub {
	 width: 10px;
 }
 .noUi-marker-vertical.noUi-marker-large {
	 width: 15px;
 }
.noUi-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #fff;
	color: #000;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	left: 50%;
	bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	top: 50%;
	right: 120%;
}


/* Bootstrap datetimepicker */
.sr-only, .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after, .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after, .bootstrap-datetimepicker-widget .btn[data-action="today"]::after, .bootstrap-datetimepicker-widget .picker-switch::after, .bootstrap-datetimepicker-widget table th.prev::after, .bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*!
 * Datetimepicker for Bootstrap 3
 * ! version : 4.7.14
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.bootstrap-datetimepicker-widget {
  list-style: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 19em;
}
@media (min-width: 540px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 720px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 960px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu:before, .bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}
.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}
.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
}
.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
}
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  content: "Increment Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  content: "Increment Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  content: "Decrement Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  content: "Decrement Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  content: "Show Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  content: "Show Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  content: "Toggle AM/PM";
}
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  content: "Clear the picker";
}
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  content: "Set the date to today";
}
.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}
.bootstrap-datetimepicker-widget .picker-switch::after {
  content: "Toggle Date and Time Screens";
}
.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
}
.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 0.25rem;
}
.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}
.bootstrap-datetimepicker-widget table th.disabled, .bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #636c72;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table th.prev::after {
  content: "Previous Month";
}
.bootstrap-datetimepicker-widget table th.next::after {
  content: "Next Month";
}
.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eceeef;
}
.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}
.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #636c72;
}
.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  line-height: 20px;
  width: 20px;
  padding: 5px;
}
.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
  background: #eceeef;
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
  color: #636c72;
}
.bootstrap-datetimepicker-widget table td.today {
  position: relative;
}
.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #0275d8;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #0275d8;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #636c72;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 0.25rem;
}
.bootstrap-datetimepicker-widget table td span:hover {
  background: #eceeef;
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #0275d8;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td span.old {
  color: #636c72;
}
.bootstrap-datetimepicker-widget table td span.disabled, .bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #636c72;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}

.input-group.date .input-group-addon {
  cursor: pointer;
}
