.dtp {
  > .dtp-content {
    .dtp-date-view {
      > header {
        &.dtp-header {
          background-color: $yellow-dark;
        }
      }
    }
  }

  div.dtp-date,
  div.dtp-time {
    background-color: $yellow;
  }

  table {
    &.dtp-picker-days {
      margin-left: auto !important;
      margin-right: auto !important;

      tr {
        > td {
          font-size: 12px;

          > a {
            &.selected {
              background-color: $yellow;
            }
          }
        }
      }
    }
  }

  .p10 {
    > a {
      color: darken($yellow-dark, 10%);
    }
  }

  .dtp-buttons {
    .btn {
      color: $gray;
      padding: 5px 20px;

      &:hover {
        background-color: lighten($gray-light, 35%);
      }
    }
  }
}