
/* ===========================
	 TABS
	 =========================== */

.tab {
  &__items {
    display: flex;

    li {
      font-size: 16px;
      font-weight: 500;
      position: relative;
      cursor: pointer;
      -webkit-tap-highlight-color: $transparent;

      &.is-active {
        pointer-events: none;
      }
    }
  }
}


/* Tabs nav */
.tabs-nav {
  @include mq('tablet-wide', max) {
    ul {
      display: flex;
      border-bottom: 1px solid $yellow;
      margin-bottom: 20px;

      li {
        font-size: 16px !important;
        font-weight: 500 !important;
        padding: 11px 0 !important
        ;
        text-align: center;
        flex-basis: 1;
        flex-grow: 1;
        position: relative;
        margin-top: 0 !important;
        cursor: pointer;

        &.is-active {
          &::after {
            content: '';
            height: 4px;
            background-color: $yellow;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -2px;
          }

          > span {
            border-bottom: 0 !important;
          }
        }
      }
    }
  }

  @include mq('tablet', max) {
    ul {
      width: calc(100% + 30px);
      margin-left: -15px;

      li {
        font-size: 13px !important;
      }
    }
  }
}