html,
body {
	font-family: $font-main;
	font-size: 16px;
	font-weight: light;
	font-style: normal;
	font-synthesis: none;
	letter-spacing: 0.25px;
	line-height: 1.25;
	color: $gray-dark;
	@extend %font-smoothing;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
div {
	line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

p {
	font-weight: 300;
	margin-bottom: 1.15em;

	&:last-of-type {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
}

a,
button {
	cursor: pointer;
	@extend %btn;
}
	
img {
	max-width: 100%;
	display: block;
	height: auto;
}
	
ul {
	list-style-type: none;
}
	
button,
input,
select,
textarea,
label,
a {
	font-family: $font-main;
	outline: 0;
	box-shadow: none;
	-webkit-tap-highlight-color: $transparent;
	
	&:focus {
		outline: 0;
		box-shadow: none;
	}
}
		
input {
	border-radius: 0;
	// font-family: $font_text;
}

textarea {
	height: auto !important;
	resize: none;
	// font-family: $font_text;
}
	
