extends ../templates/base-structure

block config
	- var title = 'BARKER - Blog'

block main
	- var current = 'Blog'
	- var classVisible = false

	include ../templates/header
	
	.page-wrap
		main.main.blog
			.blog-banner
				.blog-banner__item(style="background-image: url('./images/blog/banner.jpg')")
					.container.u-full-height.u-flex.align-items-end
						.news__head.u-hidden-tablet
							.breadcrumbs
								ul
									li: a(href="") Blog
									li: a(href="") Categoría
									li: a(href="") Post
							h1.news__title Título del post de la noticia
							span.news__date Publicado: hace 2 horas
							.social
								ul
									li: a(href=""): svg: use(xlink:href="./images/sprite.svg#twitter")
									li: a(href=""): svg: use(xlink:href="./images/sprite.svg#facebook")
									li: a(href=""): svg: use(xlink:href="./images/sprite.svg#instagram")

			section.section.news
				.container
					.row
						article.col-lg-8
							.news__head.u-visible-tablet
								.breadcrumbs
									ul
										li: a(href="") Blog
										li: a(href="") Categoría
										li: a(href="") Post
								h1.news__title Título del post de la noticia
								span.news__date Publicado: hace 2 horas
								.social
									ul
										li: a(href=""): svg: use(xlink:href="./images/sprite.svg#twitter")
										li: a(href=""): svg: use(xlink:href="./images/sprite.svg#facebook")
										li: a(href=""): svg: use(xlink:href="./images/sprite.svg#instagram")
								
							.news__content
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit 

						aside.sidebar.col-lg-4.u-hidden-tablet-wide
							.search-inner
								form(action="")
									.field-wrapper
										input(type="text" placeholder="")
										button(type="submit"): svg: use(xlink:href="./images/sprite.svg#search")
							.sidebar__item.news__related
								h4.sidebar__title Noticias relacionadas
								ul.sidebar__list
									- for (var i = 1; i <= 3; i++) {
										li
											.news-thumb
												a.news-thumb__wrapper(href="")
													figure.news-thumb__image: img(src="./images/blog/noticia-01.jpg", alt="")
													.news-thumb__content
														h2.news-thumb__title Mauris accumsan eros eget libero posuere vulputate
														span.news-thumb__date Mier, 12/04/18 - 14:35
									- }
							
							.sidebar__item.news__categories
								h4.sidebar__title Categorías
								ul.sidebar__list
									- for (var i = 1; i <= 4; i++) {
										li
											a(href="")
												span: svg: use(xlink:href="./images/sprite.svg#share")
												| Categoría #{i}
									- }

	include ../templates/footer
