extends ../templates/base-structure

block config
	- var title = 'BARKER - Puntos de venta' //- title page

block main
	- var current = 'Puntos de venta'
	- var classVisible = false

	include ../templates/header

	.page-wrap
		main.main.location
			.page-name
				h2 Puntos de venta

			section.section
				.container
					.title
						h2
							span Encuentra tu producto
							| Ubica nuestros puntos de venta
					.search-inner
						form(action="")
							.field-wrapper
								input.js-search-field(type="text" placeholder="Busca tu punto de venta")
								button(type="submit"): svg: use(xlink:href="./images/sprite.svg#search")

					#map.map-location
					script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQayMO5EYL8z2MjXUvW2y7FFlykh_Wc1I" async defer)
					
					.points-sale
						.subtitle-common
							h5 Direcciones de las veterinarias
						.row.justify-content-center
							-
								var locations = [
									['Animal Medical Center 1', -33.890542, 151.274856],
									['Animal Medical Center 2', -33.923036, 151.259052],
									['Animal Medical Center 3', -34.028249, 151.157507],
									['Animal Medical Center 4', -33.80010128657071, 151.28747820854187],
									['Animal Medical Center 5', -33.950198, 151.259302]
								]

							- for (var i = 0; i < locations.length; i++) {
								.point-sale.col-lg-4(data-location=`${locations[i]}`)
									.point-sale__box
										h2.point-sale__title Surco
										ul.point-sale__data
											li
												span: svg: use(xlink:href="./images/sprite.svg#local")
												| Animal Medical Center
											li
												span: svg: use(xlink:href="./images/sprite.svg#location")
												| Doña Virginia 171 Urb. Los Rosales SURCO
											li
												span: svg: use(xlink:href="./images/sprite.svg#phone")
												| 4559438
							- }
	
	include ../templates/footer