extends ../templates/base-structure

block config
	- var title = 'BARKER - Sabores' //- title page

block main
	- var current = 'Sabores'
	- var classVisible = false

	include ../templates/header

	.page-wrap
		.page-name
			h2 Producto

		main.main
			section.section.products
				.container
					.section-header
						.title.u-text-center
							h2 Nuestros productos
					
					.products-carousel
						.owl-carousel.js-products-carousel
							.product
								figure.product__image
									img(src="./images/productos/pollo.png", alt="")
								.product__text
									.product__title.subtitle-sm
										h2 Pollo
									p Piezas de pollo molida, hígado y tejido blando (fuente de colágeno), arroz, legumbres frescas, vinagre de manzana, huevo pasteurizado, probióticos (levadura de cerveza), Vitamina E, Vitaminas A, B1, B2, B6, B12, D3, K3, Niacina, Ácido fólico, Biotina, Óxido de Zinc, Sulfato Ferroso, Sulfato de Cobre, Óxido de Manganeso, Iodato de Calcio, Selenito de Sodio, sal.
								.product__box
									h4.product__box-title Cuadro nutricional
									table.product__table
										thead
											tr
												th Energía (Kcal, kg)
												th 250
										tbody
											tr
												td % Proteína, min
												td 14.50
											tr
												td % Grasa, min
												td 9.00
											tr
												td % Fibra, max
												td 0.30
											tr
												td % Carbohidratos, min
												td 6.00
											tr
												td % Calcio, min
												td 0.90
											tr
												td % Fósforo, min
												td 0.50

							.product
								figure.product__image
									img(src="./images/productos/pavo.png", alt="")
								.product__text
									.product__title.subtitle-sm
										h2 Pavo
									p Piezas de pavo molida, hígado y tejido blando (fuente de colágeno), arroz, legumbres frescas, vinagre de manzana, huevo pasteurizado, probióticos (levadura de cerveza), Vitamina E, Vitaminas A, B1, B2, B6, B12, D3, K3, Niacina, Ácido fólico, Biotina, Óxido de Zinc, Sulfato Ferroso, Sulfato de Cobre, Óxido de Manganeso, Iodato de Calcio, Selenito de Sodio, sal.
								.product__box
									h4.product__box-title Cuadro nutricional
									table.product__table
										thead
											tr
												th Energía (Kcal, kg)
												th 250
										tbody
											tr
												td % Proteína, min
												td 14.50
											tr
												td % Grasa, min
												td 9.00
											tr
												td % Fibra, max
												td 0.30
											tr
												td % Carbohidratos, min
												td 6.00
											tr
												td % Calcio, min
												td 0.90
											tr
												td % Fósforo, min
												td 0.50

							.product
								figure.product__image
									img(src="./images/productos/res.png", alt="")
								.product__text
									.product__title.subtitle-sm
										h2 Carne de Res
									p Piezas de carne de res molida, hígado y tejido blando (fuente de colágeno), arroz, legumbres frescas, vinagre de manzana, huevo pasteurizado, probióticos (levadura de cerveza), Vitamina E, Vitaminas A, B1, B2, B6, B12, D3, K3, Niacina, Ácido fólico, Biotina, Óxido de Zinc, Sulfato Ferroso, Sulfato de Cobre, Óxido de Manganeso, Iodato de Calcio, Selenito de Sodio, sal.
								.product__box
									h4.product__box-title Cuadro nutricional
									table.product__table
										thead
											tr
												th Energía (Kcal, kg)
												th 250
										tbody
											tr
												td % Proteína, min
												td 14.50
											tr
												td % Grasa, min
												td 9.00
											tr
												td % Fibra, max
												td 0.30
											tr
												td % Carbohidratos, min
												td 6.00
											tr
												td % Calcio, min
												td 0.90
											tr
												td % Fósforo, min
												td 0.50

					p.u-text-center
						a.btn.btn--primary(href="pedidos.html") Diseña tu pedido

	include ../templates/footer