extends ../templates/base-structure

block config
	- var title = 'BARKER - Pedidos' //- title page

block main
	- var current = ''
	- var classVisible = false

	include ../templates/header

	.page-wrap
		main.main
			.container
				form#form-sucription.form.form--big(enctype="multipart/form-data" action="" method="post")
					#delivery-wizard
						// Step 1
						h3
							span.icon: svg: use(xlink:href="./images/sprite.svg#step-dog")
							span.text Perfil
						section
							.row.justify-content-center
								.col-lg-9
									.u-text-center
										.subtitle-xs: h5 ¡Bienvenido al espacio de suscripciones Barker!
										.text-line
											p Estás cada vez más cerca de darle a tu mascota lo que quiere y necesita. Sigue los pasos para realizar una suscripción Barker.
											p Actualmente contamos con entregas a: Barranco, Chorrillos, Jesus Maria, Lince, La Molina, Miraflores, San Borja, San Isidro, San Miguel, Surco, Surquillo.
											p
												span.text-black ¿No encuentras tu distrito? Por favor déjanos
												a.link.js-add-district-popup(href="") ¡acá tu información!

										.district-add.popup-inner.js-add-district
											.u-text-center
												.subtitle-xs
													h3 ¿No encuentras tu distrito?
												p.text-black Por favor déjanos acá tu información
											.form
												.field-wrapper
													input(type="text" name="f-email-interested" id="f-email-interested" placeholder="Correo electrónico")
												.field-wrapper
													select.js-add-district-select(name="f-district-search-add" id="f-district-search-add")
														option(value="")
														option(value="Villa el Salvador") Villa el Salvador
														option(value="Villa María del Triunfo") Villa María del Triunfo
												.field-action.u-flex.justify-content-center
													button.btn.btn--secondary(type="button") Cancelar
													button.btn.btn--primary(type="button") Enviar
										
										.text-line
											p.text-black Solo ayúdanos con los siguientes datos.

									.field-wrapper.field-wrapper--highlight.name-dog
										label(for="f-dog-name") ¿Cómo se llama tu perro?
										input(type="text" name="f-dog-name" id="f-dog-name" placeholder="Ejemplo: Boby" autocomplete="off")

									.field-wrapper.field-wrapper--highlight
										label Sube la foto de #[span.js-dog-name tu mascota]
										p.note.u-text-center (La foto es opcional)

										.file-upload
											.file-upload__preview
												figure: img(src="./images/avatar-dog.png", alt="")
											.file-upload__field
												label.btn.btn--primary(for="f-input-file") Subir foto de #[span.js-dog-name tu mascota]
												input.js-upload-hidden(type="file" name="f-input-file" id="f-input-file")
										
										.feedback.u-text-center
											p Recuerda que el tamaño máximo de la imagen debe ser 8MB

									.field-wrapper.field-wrapper--highlight
										label ¿Cuál es el sexo de #[span.js-dog-name tu mascota]?
										.radio-group.radio-group--square
											.radio
												input(type="radio" name="f-dog-sex" id="f-male" value="Macho")
												label(for="f-male") Macho
											.radio
												input(type="radio" name="f-dog-sex" id="f-female" value="Hembra")
												label(for="f-female") Hembra

									.field-wrapper.field-wrapper--highlight.filter-female
										label Para un mejor filtro ayúdanos con las#[br]siguientes opciones
										.radio-group.radio-group--full
											.radio
												input(type="radio" name="f-status-female" id="f-pregnat" value="está preñada")
												label(for="f-pregnat")
													.radio__content
														.radio__text
															p #[span.js-dog-name tu mascota], está preñada
													label.radio__icon(for="f-pregnat")
											.radio
												input(type="radio" name="f-status-female" id="f-has-pups" value="tiene crías")
												label(for="f-has-pups")
													.radio__content
														.radio__text
															p #[span.js-dog-name tu mascota], tiene crías
													label.radio__icon(for="f-has-pups")
											.radio
												input(type="radio" name="f-status-female" id="f-status-na" value="na")
												label(for="f-status-na")
													.radio__content
														.radio__text
															p Ninguna de las anteriores
													label.radio__icon(for="f-status-na")

									//- .field-wrapper.field-wrapper--highlight.email-custom-recipe
									//- 	label(for="f-email-custom-recipe") Para una mejor receta personalización ingresa tu correo
									//- 	input(type="text" name="f-email-custom-recipe" id="f-email-custom-recipe" placeholder="Ejemplo: ivan.flores@gmail.com")
						

						// Step 2
						h3
							span.icon: svg: use(xlink:href="./images/sprite.svg#step-data")
							span.text Datos
						section
							.row.justify-content-center
								.col-lg-10
									.field-wrapper.field-wrapper--highlight
										label ¿Cuál es la edad de #[span.js-dog-name tu mascota]?
										.radio-group.radio-group--full.row
											.radio.radio--small.col-md-4
												input(type="radio" name="f-dog-age" id="f-puppy" value="cachorro")
												label(for="f-puppy")
													.radio__content
														.radio__image
															img(src="./images/icons/dog-puppy.png", alt="")
														.radio__text
															h6 Cachorro
															p 0 a 1 año y medio
													label.radio__icon(for="f-puppy")
											.radio.radio--small.col-md-4
												input(type="radio" name="f-dog-age" id="f-adult" value="adulto")
												label(for="f-adult")
													.radio__content
														.radio__image
															img(src="./images/icons/dog-adult.png", alt="")
														.radio__text
															h6 Adulto
															p 2 a 6 años
													label.radio__icon(for="f-adult")
											.radio.radio--small.col-md-4
												input(type="radio" name="f-dog-age" id="f-older-adult" value="adulto mayor")
												label(for="f-older-adult")
													.radio__content
														.radio__image
															img(src="./images/icons/dog-older-adult.png", alt="")
														.radio__text
															h6 Adulto mayor
															p 7 a más años
													label.radio__icon(for="f-older-adult")

									.field-wrapper.field-wrapper--highlight
										label(for="f-dog-name") ¿Cúal es el peso de #[span.js-dog-name tu mascota]?
										span.feedback Elige entre las tres categorías de peso y usa las razas como ejemplo para guiarte

										.row.justify-content-center
											.col-lg-11
												.size-dog
													.size-dog__result
														h5.js-dog-weight
														span.js-dog-race
														//- p.feedback-small *Las razas son referenciales
														figure.js-dog-image
															img(src="", alt="")
													.size-dog__slider
														.size-dog__less.js-dog-less: img(src="", alt="")
														.size-dog__higher.js-dog-higher: img(src="", alt="")
														#slider-size-dog

									.field-wrapper.field-wrapper--highlight
										label(for="f-dog-name") Selecciona el nivel de actividad de #[span.js-dog-name tu mascota]
										.radio-group.radio-group--full.row
											.radio.radio--small.col-md-4
												input(type="radio" name="f-level-activity" id="f-low" value="bajo")
												label(for="f-low")
													.radio__content
														.radio__image
															img(src="./images/icons/dog-bajo.png", alt="")
														.radio__text
															h6 Bajo
													label.radio__icon(for="f-low")
											.radio.radio--small.col-md-4
												input(type="radio" name="f-level-activity" id="f-medium" value="medio")
												label(for="f-medium")
													.radio__content
														.radio__image
															img(src="./images/icons/dog-medio.png", alt="")
														.radio__text
															h6 Medio
													label.radio__icon(for="f-medium")
											.radio.radio--small.col-md-4
												input(type="radio" name="f-level-activity" id="f-high" value="alto")
												label(for="f-high")
													.radio__content
														.radio__image
															img(src="./images/icons/dog-alto.png", alt="")
														.radio__text
															h6 Alto
													label.radio__icon(for="f-high")


						// Step 3
						h3
							span.icon: svg: use(xlink:href="./images/sprite.svg#step-suscription")
							span.text Suscripción
						section
							.row.justify-content-center
								.col-md-6.col-lg-5.u-hidden-tablet
									.delivery-flavors.is-empty
										.delivery-flavors__feedback.u-text-center
											h2 Aquí se mostrará el detalle de tus sabores seleccionados
										.delivery-flavors__carousel
											.owl-carousel.js-delivery-flavors-carousel

								.col-md-6.col-lg-7
									.delivery-filters
										.filter-by-flavors
											.subtitle-xs: h4 Selecciona el sabor para #[span.js-dog-name tu mascota]
											p.feedback #[span.js-dog-name tu mascota] necesita un estimado de #[span.js-kg-stimated] kilogramos al día.

											// Sabores
											.checkbox-group.checkbox-group--circle
												//- Pollo
												.checkbox
													input(type="radio" name="f-flavors" id="f-chicken-flavor" value="pollo" data-flavor="pollo")
													label(for="f-chicken-flavor")
														.checkbox__content
															.checkbox__image
																img(src="./images/icons/pollo-icon.png", alt="")
															.checkbox__text
																p Pollo
														label.checkbox__icon(for="f-chicken-flavor")
												//- Pavo
												.checkbox
													input(type="radio" name="f-flavors" id="f-turkey-flavor" value="pavo" data-flavor="pavo")
													label(for="f-turkey-flavor")
														.checkbox__content
															.checkbox__image
																img(src="./images/icons/pavo-icon.png", alt="")
															.checkbox__text
																p Pavo
														label.checkbox__icon(for="f-turkey-flavor")
												//- Carne de res
												.checkbox
													input(type="radio" name="f-flavors" id="f-beef-flavor" value="carne de res" data-flavor="carne de res")
													label(for="f-beef-flavor")
														.checkbox__content
															.checkbox__image
																img(src="./images/icons/res-icon.png", alt="")
															.checkbox__text
																p Res
														label.checkbox__icon(for="f-beef-flavor")

												.checkbox
													input(type="radio" name="f-flavors" id="f-mixed-flavor" value="sabores mixtos" data-flavor="sabores mixtos")
													label(for="f-mixed-flavor")
														.checkbox__content
															.checkbox__image
																img(src="./images/icons/res-icon.png", alt="")
															.checkbox__text
																p Sabores mixtos
														label.checkbox__icon(for="f-mixed-flavor")
													
													//- label(for="f-mixed-flavor") Sabores mixtos
													//- p.feedback Sabores mixtos incluye un envío aleatorio de los tres sabores anteriores.

										hr.line-dotted.line-dotted--yellow
										
										.filter-by-time
											.subtitle-xs: h4 Elige tu suscripción
											.radio-group.radio-group--check.justify-content-center
												.radio.column
													input(type="radio" name="f-suscription-time" id="f-one-week" value="1 semana")
													label(for="f-one-week")
														.radio__content
															.radio__text
																span.title Barker por una semana
																ul.price
																	li #[span S/. 16.00]#[span Por semana]
														label.radio__icon(for="f-one-month"): span: svg: use(xlink:href="./images/sprite.svg#check")

											.radio-group.radio-group--check.owl-carousel.js-suscription-type-carousel
												.radio
													input(type="radio" name="f-suscription-time" id="f-one-month" value="1 mes")
													label(for="f-one-month")
														.radio__content
															.radio__text
																span.title Barker x 1 mes
																ul.price
																	li #[span S/. 16.00]#[span Por comida]
																	li #[span S/. 90.00]#[span Entrega semanal]
														label.radio__icon(for="f-one-month"): span: svg: use(xlink:href="./images/sprite.svg#check")
												.radio
													input(type="radio" name="f-suscription-time" id="f-three-months" value="3 meses")
													label(for="f-three-months")
														.radio__content
															.radio__text
																span.title Barker 3 meses
																ul.price
																	li #[span S/. 16.00]#[span Por comida]
																	li #[span S/. 90.00]#[span Entrega semanal]
														label.radio__icon(for="f-three-months"): span: svg: use(xlink:href="./images/sprite.svg#check")
												.radio
													input(type="radio" name="f-suscription-time" id="f-six-months" value="6 meses")
													label(for="f-six-months")
														.radio__content
															.radio__text
																span.title Barker 6 meses
																ul.price
																	li #[span S/. 16.00]#[span Por comida]
																	li #[span S/. 90.00]#[span Entrega semanal]
														label.radio__icon(for="f-six-months"): span: svg: use(xlink:href="./images/sprite.svg#check")
												.radio
													input(type="radio" name="f-suscription-time" id="f-one-year" value="1 año")
													label(for="f-one-year")
														.radio__content
															.radio__text
																span.title Barker 1 año
																ul.price
																	li #[span S/. 16.00]#[span Por comida]
																	li #[span S/. 90.00]#[span Entrega semanal]
														label.radio__icon(for="f-one-year"): span: svg: use(xlink:href="./images/sprite.svg#check")

											p.feedback * Nota. La entrega del producto es semanal, en la fecha y el horario indicado según la disponibilidad de nuestros distribuidores en cada distrito.
	

						// Step 4
						h3
							span.icon: svg: use(xlink:href="./images/sprite.svg#step-delivery")
							span.text Pedido
						section
							.row.justify-content-center
								.col-lg-11
									.row
										.col-md-6.col-lg-5.order-1
											.delivery-data
												.text-line.u-hidden-tablet
													p Estás tan cerca de la comida real, ¡Tu perro puede olerla!
												
												.field-group
													label Complete sus datos para#[br]comenzar su prueba
													.field-wrapper
														input(type="text" name="f-dog-name" id="f-dog-name" placeholder="Nombre")

													.field-wrapper
														input(type="text" name="f-dog-name" id="f-dog-name" placeholder="Apellido")

													.field-wrapper
														input(type="text" name="f-dog-name" id="f-dog-name" placeholder="Número de teléfono")

												.field-group
													label Dirección de envío
													.field-wrapper
														.select
															select(name="f-shipping-address" id="f-shipping-address")
																option(value="") Distrito
																option(value="Barranco") Barranco
																option(value="Chorrillos") Chorrillos
																option(value="Jesús María") Jesús María
																option(value="La Molina") La Molina
																option(value="Lince") Lince
																option(value="Miraflores") Miraflores
																option(value="San Borja") San Borja
																option(value="San Isidro") San Isidro
																option(value="San Miguel") San Miguel
																option(value="Surco") Surco
																option(value="Surquillo") Surquillo
														//- div.info.js-info-date Horario de envío: #[span] de 2 a 6pm.
													
													.field-wrapper.field-wrapper--simple
														input.fill(type="text" name="f-info-date" id="f-info-date" value="")

													.field-wrapper.field-wrapper--simple
														label Horario de entrega	
														.radio-group.radio-group--full.row
															.radio.radio--small.col-md-6
																input(type="radio" name='f-delivery-time' id='f-moorning-1' value="cachorro")
																label.u-mb--lv0(for='f-moorning-1')
																	.radio__content
																		.radio__text
																			h6 9am a 12pm
																			p Turno día
																	label.radio__icon(for='f-moorning-1')
															.radio.radio--small.col-md-6
																input(type="radio" name='f-delivery-time' id='f-afternoon-1' value="adulto")
																label.u-mb--lv0(for='f-afternoon-1')
																	.radio__content
																		.radio__text
																			h6 1pm a 6pm
																			p Turno tarde
																	label.radio__icon(for='f-afternoon-1')

													.field-wrapper
														input(type="text" name="f-dog-name" id="f-dog-name" placeholder="Av. Jr.")
													.field-wrapper
														input(type="text" name="f-dog-name" id="f-dog-name" placeholder="Urbanizado")
													.field-wrapper
														input(type="text" name="f-dog-name" id="f-dog-name" placeholder="Dpto.")
												.field-group
													.field-wrapper.field-wrapper--highlight
														.radio-group.radio-group--square.border
															.radio
																input(type="radio" name="f-housing-type" id="f-house" value="Casa")
																label(for="f-house") Casa
															.radio
																input(type="radio" name="f-housing-type" id="f-fifth" value="Quinta")
																label(for="f-fifth") Quinta
															.radio
																input(type="radio" name="f-housing-type" id="f-building" value="Edificio")
																label(for="f-building") Edificio
															.radio
																input(type="radio" name="f-housing-type" id="f-condominium" value="Condominio")
																label(for="f-condominium") Condominio
												
												.field-group
													.field-wrapper
														label Datos de facturación
														figure: img(src="./images/tarjetas.png" alt="")

													.field-wrapper.field-wrapper--simple
														input(type="text" name="f-cardholder-name" id="f-cardholder-name" placeholder="Nombre del titular de la tarjeta")

													.field-wrapper.field-wrapper--simple
														input(type="text" name="f-cardholder-dni" id="f-cardholder-dni" placeholder="DNI del titular de la tarjeta")

													.field-wrapper.field-wrapper--simple
														label(for="f-card-number") Número de tarjeta
														input(type="text" name="f-card-number" id="f-card-number" placeholder="Ingrese los 14 dígitos de la tarjeta")

													.field-wrapper.field-wrapper--simple
														label Fecha de vencimiento
														.row
															.col-md-6
																.select
																	select(name="f-expiration-month-card" id="f-expiration-month-card")
																		option(value="") Mes
															.col-md-6
																.select
																	select(name="f-expiration-year-card" id="f-expiration-year-card")
																		option(value="") Año

													.field-wrapper.field-wrapper--simple
														label Código de seguridad
														input(type="text" name="f-code-security" id="f-code-security" placeholder="CVC")

										.col-md-6.col-lg-6.offset-lg-1.order-md-1
											.order-detail
												.order-detail__head.u-text-center
													.subtitle-xs: h4 Resumen del pedido
												.order-detail__body
													.order-list
														.order-item
															.order-item__head.u-text-center
																h4 Caja de #[span.js-dog-name tu mascota]
															.order-item__body
																.order-item__text
																	.order-item__text-desc
																		h5 Barker por una semana
																		p 7 comidas de pollo
																		p Cargando y entregando semanal
																		p Todas en presentación de 1KG, contenidas en 20 hamburguesas de 50 gramos cada una.
																	.order-item__text-amount
																		| S/. #[span 90.00]
																.order-item__action
																	span.link-action.js-edit-order Editar
																	span.link-action.js-remove-order Eliminar

													.order-action
														p.u-text-center: span.link-action.js-add-dog + Agregar otra mascota

														#add-dog-new.modal-inner.dog-new-modal
															.dog-new-modal__wrap.form
																.field-wrapper.field-wrapper--highlight.name-dog
																	label(for="f-dog-name-new") ¿Cómo se llama tu perro?
																	input(type="text" name="f-dog-name-new" id="f-dog-name-new" placeholder="Ejemplo: Boby" autocomplete="off")
																.dog-new-modal__action
																	p ¿#[span.js-dog-name-2 Tu mascota] cuenta con las mismas características?
																	.dog-new-modal__action-buttons.js-confirm-similar-info
																		button.btn.btn--secondary(href="" data-similar-info="not") No
																		button.btn.btn--primary(href="" data-similar-info="yes") Si

												.order-detail__footer
													.order-detail__row
														dl
															dt Fecha de entrega estimada
															dd Mié, 04/25
													.order-detail__row
														dl
															dt Descuento de#[br]primera orden
															dd #[small.old S/. 180.00] #[span S/. 175.00]
															dt: small Envío
															dd: small ¡GRATIS!
															dt Primer pedido#[br]total
															dd S/. 175.00
													.order-detail__row.u-not-border.u-text-center
														p.feedback Puedes cancelar la suscripción en#[br]cualquier momento.

													.order-detail__row.u-not-border.u-flex.justify-content-center
														.checkbox-terms.u-flex
															input(type="checkbox" name="terms" id="terms")
															label(for="terms").icon
															label(for="terms") Estoy de acuerdo con los #[a(href="" target="_blank") términos y condiciones]

													.order-detail__row.u-not-border
														.coupon.fields
															input(type="text" name="discount-coupon" placeholder="Ingresar cupón de descuento")
															button.btn.btn--secondary.btn--block.is-disabled(type="button") Validar cupón

													.order-detail__row.u-not-border.u-hidden-tablet
														.fields
															button.btn.btn--primary.btn--block(type="submit") Realizar pedido

						//- input(type="hidden" id="f-data-suscription" name="f-data-suscription" val="")
	include ../templates/footer