.hamburguer {
  max-width: 900px;
  background-color: #F6F6F6;
  padding: 45px 85px;

  h3, p {
    font-weight: normal;
    color: #838383;
  }

  &__table {
    width: 100%;
    display: block;
    overflow-x: auto;

    table {
      width: 100%;
      max-width: 100%;
      min-width: 625px;
      border-collapse: collapse;
      background-color: $white;
  
      tr {
        th, td {
          font-size: 11px;
          padding: 6px 10px;
          text-align: center;
          border: 1px solid $gray;
        }
        th {
          font-weight: bold;
  
        }
      }
    }
  }

  &__feedback {
    font-size: 16px;
    margin-top: 22px;
    color: $gray !important;
  }

  @include mq('tablet-wide', max) {
    padding: 35px 30px;
  }

  @include mq('tablet', max) {
    padding: 25px 15px;

    .subtitle-xs {
      h3 {
        font-size: 18px;
      }
    }

    p {
      font-size: 13px;
    }
  }
}