.location {

	@include mq('tablet', max) {
		.title {
			text-align: left;

			h1, h2, h3, h4, h5 {
				font-family: $font-main;
				font-weight: 500;
				font-size: 16px;
				
				> span {
					font-size: 16px;
					display: none;
				}
			}
		}

		.map-location {
			display: none;
		}
	}
}

.map-location {
	height: 390px;
	width: 100%;
	margin-bottom: 42px;
}

.points-sale {
	.subtitle-common {
		margin-bottom: 28px;
	}

	@include mq('tablet', max) {
		border-top: 1px solid $yellow;
		
		.subtitle-common {
			display: none;
		}
	}
}

.point-sale {
	margin-bottom: 32px;

	&__box {
		padding: 14px 0 16px;
		border-top: 1px solid $yellow;
		border-bottom: 1px solid $yellow;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		color: $yellow;
		margin-bottom: .9em;
		line-height: 1;
	}

	&__data {
		li {
			font-size: 14px;
			font-weight: normal;
			display: flex;
			align-items: center;

			+ li {
				margin-top: 8px;
			}

			> span {
				display: flex;
				margin-right: 6px;

				svg {
					width: 14px;
					height: 14px;
					fill: $yellow;
				}
			}
		}
	}

	@include mq('tablet', max) {
		text-align: left;
		margin-bottom: 0;
		

		&__box {
			border-top: 0;
		}

		&__title {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}