.products {
	@include mq('tablet-wide', max) {
		&-carousel {
			margin-bottom: 25px;
		}
	}

	@include mq('tablet', max) {
		.section-header {
			display: none;
		}
		
		.btn {
			display: block;
		}
	}
}

.product {
	margin-bottom: 40px;

	&__image {
		margin-bottom: 35px;

		img {
			width: 210px !important;
			max-width: 100%;
			@extend %center-block;
		}
	}

	&__text {
		margin-bottom: 35px;

		p {
			color: $gray-light;
			text-align: justify;
		}

		@include mq('tablet-wide') {
			padding-right: 30px;
		}
	}

	&__box {
		&-title {
			font-weight: 500;
			font-size: 20px;
			color: $yellow;
			margin-bottom: .6em;
		}
	}

	&__table {
		width: 100%;
		border-spacing: 1px;
    border-collapse: separate;

		tr {
			th,
			td {
				font-weight: normal;
				font-size: 13px;
				text-align: left;
				padding: 10px 15px;
				background-color: $brown-extralight;
			}
		}
	}

	@include mq('tablet-wide', max) {
		margin-bottom: 0;

		&__text {
			text-align: center;
			margin-bottom: 0;
		}

		&__box {
			display: none;
		}
	}	
}