.site-nav {
	font-weight: normal;
	height: 60px;
	background-color: #4C4B47;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 200ms ease;
	z-index: 20;

	&--reverse {
		background-color: $transparent;

		.site-nav {
			&__logo {
				a {
					svg {
						fill: $gray;
					}
				}
			}

			&__links {
				ul {
					a {
						color: $gray-dark;
						// font-weight: 500;

						&.is-active,
						&:hover,
						&:focus {
							color: $gray;
						}
					}
				}
			}
		}

		&.is-sticky {
			background-color: #4C4B47;

			.site-nav {
				&__logo {
					a {
						svg {
							fill: $white;
						}
					}
				}

				&__links {
					ul {
						a {
							color: $white;

							&.is-active,
							&:hover,
							&:focus {
								color: $yellow;
							}
						}
					}
				}
			}
		}
	}

	&__logo {
		a {
			display: flex;

			svg {
				width: 138px;
				height: 39px;
				fill: $white;
			}
		}
	}

	&__links {
		ul {
			display: flex;

			li {}

			a {
				font-size: 14px;
				color: $white;

				&.is-active,
				&:hover,
				&:focus {
					color: $yellow;
				}

				&.is-active {
					font-weight: 500;
				}
			}
		}
	}

	&__item {
		height: 60px;
		display: flex;
		align-items: center;
		padding: 0 16px;

		> span {
			line-height: 1.05;
		}
	}

	&__actions {
		margin-left: 10px;

		button,
		a {
			background-color: $yellow;
			color: $white;
			font-size: 14px;
			display: flex;
			align-items: center;
			height: 30px;
			padding: .25em 1em;
			border-radius: 4px;
			text-align: center;
			@extend %btn;

			&:hover {
				background-color: lighten($yellow, 10%);
			}

			+ button,
			+ a {
				margin-left: 12px;
			}

			.icon {
				margin-right: 6px;
				display: flex;

				svg {
					width: 22px;
					height: 22px;
					fill: $white;
				}
			}
		}
	}

	&__aditional {
		&-data {
			flex-wrap: wrap;
			text-align: center;
			padding: 30px 0;
	
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				font-size: 14px;
				font-weight: 500;

				+ li {
					margin-top: 10px;
				}
	
				span {
					display: flex;
					margin-right: 6px;
	
					svg {
						width: 12px;
						height: 12px;
						fill: $yellow
					}
				}
			}
		}

		&-social {
			display: flex;
			justify-content: center;
			flex-direction: row !important;

			li {
				width: auto !important;

				+ li {
					margin-left: 20px;
				}
			}

			a {
				width: 39px;
				height: 39px;
				border-radius: 50%;
				background-color: $yellow-dark;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover {
					background-color: $yellow;
				}

				svg {
					width: 20px;
					height: 20px;
					fill: $white;
				}
			}
		}

		&-plus {
			display: flex;
			justify-content: center;
			flex-direction: row !important;
			padding-top: 25px;

			li {
				padding: 0 20px;
				width: auto !important;
				
				a {
					font-size: 14px !important;
					font-weight: 500;
					letter-spacing: 1px;
				}
			}
		}
	}

	@include mq('desktop') {
		> .container-fluid {
			padding-left: 50px;
			padding-right: 50px;
		}
	}

	@include mq('desktop', max) {
		&__item {
			padding: 0 10px;
		}
	}

	@include mq('tablet-wide', max) {
		> .container {
			max-width: 100%;
		}

		&__logo {
			a {
				svg {
					width: 88px;
					height: 26px;
				}
			}
		}

		&__links {
			ul {
				a {
					font-size: 13px;
				}
			}
		}

		&__item {
			padding: 0 10px;
		}

		&__actions {
			a,
			button {
				font-size: 12px;
			}
		}
	}

	@include mq('tablet', max) {
		height: 45px;
		background-color: #4C4B47;

		&__logo {
			a {
				svg {
					fill: $white !important;
				}
			}
		}

		&__links {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			z-index: 100;
			background-color: $white;
			padding: 0;
			transform: translateX(100%);
			transition: all 250ms ease;
			background: $white url('../images/bg-header-links.png') center/cover no-repeat;

			&-wrap {
				height: calc(100vh - 45px);
				overflow: auto;
				padding: 20px 0 30px;

				.site-nav__item {
					font-size: 16px;
					height: 40px;
					color: #4f4e4c !important;
					padding: 0 15px;
					justify-content: center;
					font-weight: 500 !important;
				}

				ul {
					flex-direction: column;

					> li {
						width: 100%;
						position: relative;

						&:after {
							content: '';
							width: calc(100% - 40px);
							background-color: $white;
							height: 1px;
							position: absolute;
							bottom: 0;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
			}
		}

		&__main {
			height: 45px;
		}

		&__actions {
			.navicon {
				padding: 0 12px;
				width: 50px;
				margin-right: -15px;
				display: block;
				transition: all 200ms ease;
				z-index: 110;

				.icon {
					width: 100%;
					height: 2px;
					background-color: $white;
					display: block;
					position: relative;

					&::before,
					&::after {
						content: '';
						height: 100%;
						width: 82%;
						background-color: $white;
						left: 50%;
						position: absolute;
						transition: all 200ms ease;
						// transform: translateX(-50%);
					}

					&::before {
						transform: translate(-50%, -7px);
					}

					&::after {
						transform: translate(-50%, 7px);
					}
				}
			}

			button,
			a {
				height: 45px;
				background-color: $transparent;

				&:hover {
					background-color: $transparent;
				}

				+ button,
				+ a {
					margin-left: 0;
				}

				.icon {
					margin-right: 0;
				} 

				.text {
					display: none;
				}
			}
		}

		&__close-menu {
			height: 45px;
		}
	}
}

/* Phases menu */
.barker-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $white;
	transform: translateX(100%);
	transition: all 250ms ease;
	background: $white url("../images/bg-header-links.png") center/cover no-repeat;
	z-index: 110;

	.site-nav__close-menu {
		height: 45px;
	}

	&__header {
		height: 45px;
		display: flex;
		align-items: center;

		button {
			display: flex;
			align-items: center;
			height: 45px;
			padding: 0 15px;

			.icon {
				display: flex;
				margin-right: 10px;
				
				svg {
					width: 26px;
					height: 26px;
					fill: $yellow;
				}
			}

			.text {
				letter-spacing: 1px;
			}
		}
	}

	&__content {
		height: calc(100vh - 73px);
		overflow: auto;
		padding: 25px 15px 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}
}


body {
	&.is-show-menu {
		overflow: hidden;

		.site-nav__links {
			transform: translateX(0);
		}

		.site-nav__item {
			&.navicon {
				.icon {
					background-color: $transparent;

					&::before,
					&::after {
						width: 100%;
						background-color: $yellow;
					}

					&::before {
						transform: translate(-50%, 0) rotate(45deg);
					}

					&::after {
						transform: translate(-50%, 0) rotate(-45deg);
					}
				}
			}
		}
	}

	&.is-show-barker-menu {
		.barker-menu {
			transform: translateX(0);
		}

		.site-nav__item {
			&.navicon {
				z-index: initial;
			}
		}
	}
}