

/*REGISTER OK PAGE*/

.barker_accoung_register_ok {
	background-image: url('../images/cuenta/bg-registro-ok.jpg') !important;
}


.barker-box_checkoutURL {
	visibility: hidden;
	position: absolute;
	margin-bottom: -100%;
	opacity: 0;
	display: none;
	z-index: -99999;
}

.barker_bg_white {
	background-color: #fff !important;
}

.barker-suscription-item_description__active {
	display: block !important;
}

/*.barker-suscription-item_description__disable {
	display: none !important;
}*/

.barker-suscription-item_priceBox__active {
	display: block !important;
}

.barker-suscription-item_priceBox__disable {
	display: none !important;
}

.activePHP {
	box-shadow: none !important;
}

#f-email-interested {
	box-shadow: none !important;
}


/*EDIT ADDRESS*/

.u-column1.col-1.woocommerce-Address {
	width: 100% !important;
	max-width: 100% !important;
	float: none !important;
}

.u-column2.col-2.woocommerce-Address {
	display: none;
}

.woocommerce-MyAccount-navigation ul li {
	font-size: 18px;
	font-family: "Baloo Bhai";
	font-weight: normal;
	padding: 4px 0;
	color: #767472;
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.woocommerce-MyAccount-navigation ul li a {
	color: #767472;
}

.woocommerce-MyAccount-navigation ul li.is-active {
	pointer-events: none;
	font-weight: bold;
	text-decoration: underline;
}

.woocommerce-MyAccount-navigation ul li.is-active a {
	text-decoration: underline;
	color: #767472;
}

.woocommerce-EditAccountForm.edit-account > p > label {
	display: none !important;
}

.woocommerce-EditAccountForm.edit-account p .woocommerce-Button.button {
	padding: .9em 8em;
	font-size: 16px;
	font-family: "Baloo Bhai";
	border-radius: 30px;
	text-align: center;
	max-width: 100%;
	background-color: #eaba1b !important;
	color: #fff;
}

.woocommerce-EditAccountForm.edit-account > p > input {
	height: 34px;
	padding: 7px 0;
	border-bottom: 1px solid #D6C9BB;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.woocommerce-EditAccountForm.edit-account fieldset {
	margin-top: 50px;
	border: none;
	padding: 0 !important;
}

.woocommerce-EditAccountForm.edit-account fieldset legend {
	margin-top: 25px;
	font-weight: bold;
}

.woocommerce-EditAccountForm.edit-account fieldset input {
	height: 34px;
	padding: 7px 0;
	border-bottom: 1px solid #D6C9BB;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

/*CART PAGE */

.wc-proceed-to-checkout a.checkout-button {
	border-radius: 30px !important;
	background-color: #eaba1b !important;
}

.wc-proceed-to-checkout a.checkout-button:hover {
	background-color: #d8aa14 !important;
}

.cart_totals.calculated_shipping {
	float: none !important;
	margin: 0 auto !important;
}

.woocommerce-cart .woocommerce-cart-form .shop_table tbody tr .actions {
	display: none;
}

/*CHECKOUT PAGE*/


/*[data-title="Product"] {
	display: none;
}*/

.woocommerce-checkout .woocommerce-cart-form__cart-item {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100% !important;
}

.woocommerce-checkout .woocommerce-cart-form__cart-item .product-name {
	order: 1;
	color: #858585 !important;
}

.woocommerce-checkout .woocommerce-cart-form__cart-item .product-name a {
	color: #858585 !important;
}

.woocommerce-checkout .woocommerce-cart-form__cart-item .product-quantity {
	order: 3;
}

.woocommerce-checkout .woocommerce-cart-form__cart-item .product-subtotal {
	order: 4;
}

.woocommerce-checkout .woocommerce-cart-form__cart-item .product-remove {
	order: 5;
	width: 100%;
	position: relative !important;
}

.woocommerce-checkout .order-item__text-desc .woocommerce-cart-form__cart-item .product-thumbnail {
	display: none;
}

.order-item__text-amount {
	display: none;
}

.product-quantity .quantity input {
	background: transparent;
	border: none;
}


/*.woocommerce-cart-form__cart-item .product-price {
	display: none;
}*/

/*.woocommerce-cart-form__cart-item .product-remove a {
	position: absolute;
    border: solid !important;
    width: 20% !important;
    border-radius: 0 !important;
    height: 20px !important;
    opacity: 0;
    top: 0;
}*/


.barker-checkout-header-steps {
	padding-bottom: 50px !important;
}

.woocommerce-checkout .title {
	display: none;
}

.woocommerce-message {
	display: none;
}

.woocommerce-checkout .checkout.woocommerce-checkout {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

.woocommerce-billing-fields {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

.woocommerce-billing-fields h3 {
	order: 2;
}

.woocommerce-billing-fields p {
	order: 1;
	font-size: 15px;
	margin-bottom: 42px;
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper {
	order: 3;
}

.culqi-payform-container {
	order: 4;
}

#order_review_heading {
	display: none;
}

#customer_details .col-2 {
	display: none;
}

#order_review {
	background-color: #F6F4F0;
	padding: 2.5%;
}

/*.barker-checkout_hidenField {
	visibility: hidden;
	position: absolute !important;
	margin-left: -100% !important;
}*/

.woocommerce-checkout [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	display: block !important;
	/*position: relative !important;*/
	/*left: 0 !important;*/;
}

.barker-checkout-radio-container input[type="radio"]:not(:checked), .barker-checkout-radio-container input[type="radio"]:checked {
	display: block !important;
	position: relative !important;
	left: 0 !important;
}

.culqi-payform-subtitle label {
	font-family: "Roboto" !important;
	font-weight: 500 !important;
	font-size: 18px !important;
	margin-bottom: 1em !important;
	display: block !important;
}

.culqi-payform-container {
	margin-top: 0%;
}

li.wc_payment_method.payment_method_culqi_subscription {
	display: none;
}

a.woocommerce-terms-and-conditions-link {
	color: #eaba1b;
	text-decoration: underline;
}

.woocommerce-checkout #order_review {
	width: 45% !important;
	padding: 0 !important;
}

.order-detail__head {
	padding: 25px 0 0 !important;
}

.barker-checkout-date-box {
	border-bottom: 1px solid #CBCBCB;
}

.barker-checkout-notice-cancel {
	font-size: 14px !important;
	font-weight: normal !important;
	color: #BDA88F !important;
}

.woocommerce-checkout #payment ul.payment_methods {
	border-bottom: 0 !important;
}

.woocommerce-checkout-review-order-table tbody,
.woocommerce-checkout-review-order-table tfoot {
	font-size: 14px !important;
	font-weight: normal !important;
	margin-bottom: .5em !important;
	letter-spacing: 0.5px !important;
}

.shop_table.woocommerce-checkout-review-order-table {
	padding: 8px 20px 20px;
}

.product-total {
	text-align: right;
}

.cart-subtotal td {
	text-align: right;
}

.cart-discount td {
	text-align: right;
}

.cart-discount a {
	color: #eaba1b !important;
}

.order-total td {
	text-align: right;
}

.culqi-payform-input input {
	height: 34px !important;
	padding: 7px 0 !important;
	border-bottom: 1px solid #D6C9BB !important;
	-webkit-transition: all 200ms ease !important;
	transition: all 200ms ease !important;
	/**/
	color: rgba(133,133,133,0.45);
	padding: 7px 0;
	width: 100%;
	height: 34px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.woocommerce-billing-fields__field-wrapper {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

.woocommerce-billing-fields__field-wrapper > * {
	width: 100%;
	margin-bottom: 25px !important;
}

.woocommerce-billing-fields__field-wrapper input[type="text"],
.woocommerce-billing-fields__field-wrapper input[type="tel"] {
	border-top: none;
	border-left: none;
	border-right: none;
}

.woocommerce-billing-fields__field-wrapper #select2-billing_state-container {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0 !important;
}

.barker-checkout-customCoupon-box {
	display: block !important;
}

.woocommerce-checkout .woocommerce-form-coupon-toggle {
	color: #b0967b !important;
}

.woocommerce-form-coupon-toggle {
	visibility: hidden;
	position: absolute;
	margin-left: -100%;
}

.woocommerce-checkout .select2-container--default .select2-selection--single {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 0 !important;
}

.woocommerce form .form-row.woocommerce-invalid input.input-text {
	border-color: #dc2121 !important;
	border-width: 1px !important;
}

.woocommerce form .form-row.woocommerce-validated input.input-text {
	border-width: 1px !important;
}

.woocommerce form .form-row input.input-text::placeholder {
	color: #d4d4d4;
}

.woocommerce form .form-row.woocommerce-invalid input.input-text::placeholder {
	color: #d4d4d4;
}

#barker_checkout_kind_house_field {
	position: absolute;
}

#billing_state_field label {
	font-family: "Baloo Bhai";
	font-weight: normal;
	font-size: 24px;
	display: block;
	line-height: 1.25;
	margin-bottom: 1.1em;
}

.woocommerce-billing-fields h3 {
	font-family: "Baloo Bhai";
	font-weight: normal;
	font-size: 24px;
	display: block;
	line-height: 1.25;
	margin-bottom: 1.1em;
}

/*ORDER CHECKOUT*/


#billing_first_name_field {
	order: 1;
}

#billing_last_name_field {
	order: 2;
}

#billing_phone_field {
	order: 3;
}

#billing_state_field {
	order: 4;
}

#f_shipping_address_field {
	order: 5;
}

#barker_horario_reparto {
	order: 6;
}

#billing_address_1_field {
	order: 7;
}

#billing_address_2_field {
	order: 8;
}

#billing_city_field {
	order: 9;
}

#barker_checkout_kind_house {
	order: 10;
}

/*#order_review .order-detail__head:nth-child(1) {
	display: none;
}*/

.order-detail__head {
	margin-bottom: 5%;
}

.woocommerce-checkout-review-order-table thead {
	display: none;
}

.woocommerce-privacy-policy-text p {
	display: none;
}



/*checkout radio buttons*/

#barker_horario_reparto {
    /*border: solid red;*/
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#barker_checkout_kind_house {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#barker_checkout_kind_house p {
	position: absolute;
}

#barker_horario_reparto p {
	position: absolute;
}

#barker_horario_reparto_field {
	position: absolute;
}

.barker-checkout-radio-house-container {
	position: relative;
}

.barker-checkout-radio-house-container input[type="radio"] {
	position: absolute !important;
	top: 0;
	width: 45px;
	height: 45px;
	left: 20% !important;
	cursor: pointer;
	opacity: 0;
}

.barker-checkout-radio-house-container {
	border: 2px solid #BDA88F;
	width: auto;
	align-items: center;
	text-align: center;
	padding: 15px;
	height: 50px;
	font-size: 15px;
	color: #5F5D59;
}

.woocommerce-checkout #place_order {
	color: #fff !important;
	background-color: #eaba1b !important;
	padding: .9em 8em !important;
	font-size: 16px !important;
	font-family: "Baloo Bhai" !important;
	border-radius: 30px !important;
	text-align: center !important;
	max-width: 100%;
	width: 100%;
	letter-spacing: 1px;
}

.woocommerce-checkout #place_order_2 {
	color: #fff !important;
	background-color: #eaba1b !important;
	font-size: 16px !important;
	font-family: "Baloo Bhai" !important;
	border-radius: 30px !important;
	text-align: center !important;
	max-width: 100%;
	width: 100%;
	letter-spacing: 1px;
}

.woocommerce-checkout #payment {
	background: transparent !important;
}

.barker-checkout-customCoupon-box {
	display: flex !important;
	-webkit-flex: flex !important;
	-moz-flex: flex !important;
	-ms-flex: flex !important;
	-o-flex: flex !important;
	flex: flex !important;
	flex-wrap: wrap !important;
}

.barker-checkout-customCoupon-box .form-row-first,
.barker-checkout-customCoupon-box .form-row-last {
	width: 100% !important;
}

.barker-checkout-customCoupon-box .form-row-first input {
	font-family: "Baloo Bhai";
	font-size: 18px;
	padding: 6px 12px;
	text-align: center;
	width: 100%;
	height: 40px;
	border-radius: 6px;
	color: #BDA88F !important;
	background-color: transparent;
	border: 1px solid #BDA88F;
	margin-bottom: 20px;
}

.barker-checkout-customCoupon-box .form-row-first input::placeholder {
	color: #BDA88F !important;
}

.barker-checkout-customCoupon-box {
	padding: 0 !important;
	border: none !important;
}

.barker-checkout-customCoupon-box .form-row-last button {
	color: #fff !important;
	background-color: #AF987D !important;
	padding: .9em 8em !important;
	font-size: 16px !important;
	font-family: "Baloo Bhai" !important;
	border-radius: 30px !important;
	text-align: center !important;
	max-width: 100% !important;
	width: 100% !important;
}

.woocommerce-terms-and-conditions-wrapper {
	display: flex !important;
	-webkit-flex: flex !important;
	-moz-flex: flex !important;
	-ms-flex: flex !important;
	-o-flex: flex !important;
	flex: flex !important;
	align-items: center;
	vertical-align: middle;
}

.woocommerce-terms-and-conditions-wrapper p.form-row {
	text-align: center;
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	text-align: center;
	align-items: center;
	width: 100%;
	padding: 0px 25% !important;
}

.woocommerce-terms-and-conditions-wrapper p.form-row .woocommerce-form__label {
	width: 30%;
	*/
    text-align: center;
	width: 90%;
	font-size: 12px;
	line-height: 1.2;
	font-size: 12px;
	line-height: 1.175;
	color: #eaba1b;
	position: relative;
	padding-left: 12px;
	cursor: pointer;
	display: flex !important;
	-webkit-flex: flex !important;
	-moz-flex: flex !important;
	-ms-flex: flex !important;
	-o-flex: flex !important;
	flex: flex !important;
	align-items: center;
}

.woocommerce-terms-and-conditions-wrapper p.form-row .woocommerce-form__label .input-checkbox {
	margin: -2px 8px 0 0;
	text-align: center;
	vertical-align: middle;
}

.woocommerce-checkout .woocommerce table.shop_table tfoot th {
	border: none !important;
}

.woocommerce-checkout .woocommerce table.shop_table {
	border: none !important;
}

.woocommerce-checkout .woocommerce table.shop_table td {
	border: none !important;
}

#order_review {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

#order_review > * {
	width: 100%;
}

#order_review .order-detail__head {
	order: 1;
}

#order_review .shop_table {
	order: 2;
}

#order_review .order-detail__row {
	order: 3;
}

#order_review .order-detail__row_notice {
	order: 4;
	margin-top: 15px;
}

#order_review #payment {
	order: 5;
}

.woocommerce-error {
	/*display: none;*/;
}

.woocommerce-form-coupon p:nth-child(1) {
	display: none;
}

.form-row.place-order {
	padding: 10% 12% !important;
}

.barker-checkout-radio-container {
    /*border: solid 1px blue;*/
	background-color: #F6F4F0;
	padding: 16px 30px !important;
	width: 46%;
	display: flex;
	align-items: center;
}

.barker-checkout-radio-container label {
	width: 70%;
	font-size: 14px;
}

.barker-checkout-radio-container input {
	width: 30%;
}

.barker_item_horario {
	color: #858585;
}

.barker-checkout-radio-container input[type='radio']:checked:after {
	background-color: #eaba1b !important;
}

.barker-checkout-radio-container input[type="radio"] {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
}

.barker-checkout-radio-house-container-active {
	border-color: #eaba1b !important;
	color: #eaba1b !important;
}

#f_shipping_address {
	width: 100%;
	font-size: 14px;
	color: rgba(133,133,133,0.45);
	padding: 7px 0;
	width: 100%;
	height: 34px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
    /* background-image: none; */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#f_shipping_address_field {
	width: 100%;
}

#f_shipping_address_field label {
	font-family: "Baloo Bhai";
	font-weight: normal;
	font-size: 24px;
	display: block;
	line-height: 1.25;
	margin-bottom: 1.1em;
}

#f_shipping_address_field .woocommerce-input-wrapper {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid #BDA88F;
	background: #fff url(../images/icons/arrow-select.png) right 2px center/14px 8px no-repeat;
}

.barker-checkout-select {
	margin-bottom: 10%;
}

.barker-checkout-address {
	font-family: "Baloo Bhai";
	font-weight: normal;
	font-size: 24px;
	display: block;
	line-height: 1.25;
	margin-bottom: 1.1em;
}

.field-wrapper input {
	height: 34px;
	padding: 7px 0;
	border-bottom: 1px solid #D6C9BB;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}

.product-name, .woocommerce-Price-amount {
	margin-bottom: 15px;
}

input[type=radio]:checked {
	border: 5px solid #0DFF92;
}

input[type=radio]:checked::before {
	background: #0DFF92;
}

input[type=radio]:checked label {
	color: #0DFF92;
}

.woocommerce-NoticeGroup .woocommerce-NoticeGroup-checkout {
/*	position: absolute !important;
	top: 0;*/;
}

.order-item__text-desc,
.order-item__text-amount {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

.order-item__text-desc > * {
	width: 100%;
}

.order-item__text-amount > * {
	width: 100%;
	text-align: right;
}

#customer_details,
.culqi-payform-container,
#order_review {
	visibility: hidden;
	position: absolute;
	margin-left: -100%;
	top: 0;
}

.classo {
	display: none;
	margin-left: 20%;
}

#f-district-search-add {
	border: 0 !important;
	border-bottom: 1px solid #BDA88F !important;
	border-radius: 0 !important;
	height: 34px !important;
	outline: 0 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 100% !important;
	border-top: solid #fff !important;
	border-left: solid #fff !important;
	border-right: solid #fff !important;
}



/*BARKER MODAL CSS FORM*/

.hide-changue-schd {
	visibility: hidden;
	position: absolute;
	margin-right: -200%;
	opacity: 0;
}

.barker-modal-window {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.74);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.barker-modal-window:target {
	opacity: 1;
	pointer-events: auto;
}

.barker-modal-window > div {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 2em;
	background: #fff url(../images/bg-header-links.png) center/320px 640px repeat !important;
	padding: 40px 150px;
	max-width: 700px;
	width: 100%;
	position: relative;
	display: block;
	color: #333333;
}

.barker-modal-window header {
	font-weight: bold;
}

.barker-modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
	color: #333333;
}

.barker-modal-close {
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	color: #444;
	font-family: "Baloo Bhai";
}

.barker-modal-close:hover {
	color: #000;
}

.barker-modal-button-close,
.barker-modal-button-send {
	padding: .9em 3.75em !important;
	margin: 0 15px;
}

div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
	border: none !important;
	color: red;
}

div.wpcf7-mail-sent-ok {
	border: none !important;
	font-family: "Baloo Bhai" !important;
	color: #398f14 !important;
	font-size: 1em !important;
}

/*TOOTIP TEXT*/

/* Tooltip container */
.barker_tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
 /* If you want dots under the hoverable text */;
}

/* Tooltip text */
.barker_tooltip .barker_tooltipText {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
    /* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
    /* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}
/* Tooltip container */
.barker_tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
 /* If you want dots under the hoverable text */;
}

/* Tooltip text */
.barker_tooltip .barker_tooltipText {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
    /* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
    /* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.barker_tooltip .barker_tooltipText::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.barker_tooltip:hover .barker_tooltipText {
	visibility: visible;
	opacity: 1;
}


/*BARKER SUBSCRIPTION*/

.blocked_nav {
	pointer-events: none !important;
	opacity: .3;
	/*transition: 5s;*/;
}

.subscription_off {
	visibility: hidden;
    /*margin-left: -100%;*/
	position: absolute;
	opacity: 0;
    /*transition: .5s;*/;
}

.subscription_on {
	visibility: visible;
    /*margin-left: 0;*/
	position: relative;
    /*transition: .5s;*/;
}

.woocommerce-members_area .section.faq {
	padding: 0 !important;
}

.woocommerce-members_area .woocommerce-info {
	display: none;
}

.woocommerce-members_area .products > .container > .section-header {
	display: none;
	/*color: red;*/;
}

.woocommerce-members_area .section.products {
	padding: 0 !important;
}

.woocommerce-members_area .section.products .container {
	/*border: solid red;*/
	padding: 0 !important;
}

.woocommerce-members_area .woocommerce-MyAccount-navigation {
	/*border: solid blue;*/
	background: lightblue;
	float: none !important;
	position: absolute;
	bottom: 0;
	margin-left: -100% !important;
	opacity: 0;
	z-index: -9999;
}

.woocommerce-account .section {
	padding: 65px 0 150px 0 !important;
}


/*EDIT ADDRESS*/

.woocommerce-input-wrapper input {
    height: 34px;
    padding: 7px 0;
    border-bottom: 1px solid #D6C9BB;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}



.woocommerce-address-fields p button {
	padding: .9em 8em !important;
    font-size: 16px !important;
    font-family: "Baloo Bhai" !important;
    border-radius: 30px !important;
    text-align: center !important;
    max-width: 100% !important;
    background-color: #eaba1b !important;
    color: #fff !important;
    font-weight: 400 !important;
}

.woocommerce-members_area .woocommerce-MyAccount-content .woocommerce-account-my-memberships .shop_table {
	border: none !important;
	order: 3;
	width: 80%;
}

.barker_page_pedidos_sidebar {
	width: 25%;
	order: 2;
}

.woocommerce-members_area .woocommerce-MyAccount-content .woocommerce-account-my-memberships {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.woocommerce-members_area .woocommerce-MyAccount-content .woocommerce-account-my-memberships .page-wrap {
	width: 100%;
	order: 1;
}

.woocommerce-members_area .woocommerce-MyAccount-content {
    /*border: solid green;*/
	float: none !important;
	width: 100% !important;
}

.woocommerce-members_area .woocommerce-account-my-memberships .page-wrap {
	/*padding-top: 0 !important;*/;
}

.woocommerce-members_area .woocommerce-account-my-memberships .page-wrap p {
	display: none;
}

.woocommerce-members_area .shop_table {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: none;
}

.woocommerce-member_area .woocommerce table.shop_table {
	border: none !important;
}

.woocommerce-members_area .shop_table thead {
	width: 100%;
	display: none;
}

.woocommerce-members_area .shop_table tbody {
	width: 100%;
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: none;
}

.woocommerce-members_area .shop_table tbody .membership {
	width: 45%;
    /* border: solid rosybrown; */
	margin: 10px 0;
	border-radius: 5px;
	background-color: #F6F4F0;
	font-family: "Baloo Bhai";
    /* font-size: 24px; */
	font-weight: normal;
	color: #BDA88F;
	box-shadow: none;
	padding: 0;
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.woocommerce-members_area .shop_table tbody .membership:hover {
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
}

.woocommerce-members_area .shop_table tbody .membership td {
	border-top: none !important;
}

.woocommerce-members_area .shop_table tbody .membership .membership-plan {
	width: 100%;
	font-family: "Baloo Bhai";
	font-weight: normal;
	color: #BDA88F;
	font-size: 24px !important;
	font-weight: normal;
	padding: 22px 18px 22px 22px;
	cursor: pointer;
}

.woocommerce-members_area .shop_table tbody .membership .membership-plan a {
    /* font-size: 24px; */
	font-family: "Baloo Bhai";
	font-weight: normal;
	color: #BDA88F;
	font-size: 24px !important;
	font-weight: normal;
}

.woocommerce-members_area .shop_table tbody .membership .membership-start-date {
	width: 25%;
	font-size: 14px;
	letter-spacing: 1px;
	display: block;
	font-family: Roboto;
	color: #585858;
	padding: 4px 0 22px 22px;
}

.woocommerce-members_area .shop_table tbody .membership .membership-end-date {
	width: 25%;
	font-size: 14px;
	letter-spacing: 1px;
	display: block;
	font-family: Roboto;
	color: #585858;
}

.woocommerce-members_area .shop_table tbody .membership .membership-status {
	width: 25%;
	font-size: 14px;
	letter-spacing: 1px;
	display: block;
	font-family: Roboto;
	color: #585858;
}

.woocommerce-members_area .shop_table tbody .membership .membership-actions {
	width: 25%;
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	padding: 4px 18px 8px 0px;
}

.woocommerce-members_area .shop_table tbody .membership .membership-actions a {
	width: 45%;
	position: relative;
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	justify-content: space-around;
	text-align: center;
	color: transparent;
	background: transparent;
}

.woocommerce-members_area .shop_table tbody .membership .membership-actions a.cancel svg,
.woocommerce-members_area .shop_table tbody .membership .membership-actions a.view svg {
	width: 28px;
	height: 30px;
	fill: #eaba1b;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	z-index: 99;
	text-align: center;
	border: solid;
	left: 25%;
	position: absolute;
	top: 0;
}

.woocommerce-members_area .shop_table tbody .membership .membership-actions a.view svg {
	transform: rotate(270deg);
}

.move_arrow_up {
	transform: rotate(90deg) !important;
	transition: .5s !important;
}

.woocommerce-members_area .shop_table tbody .membership .membership-actions a.cancel:hover svg {
	fill: #cca113;
}

.woocommerce-members_area .shop_table tbody .membership .membership-actions a.renew svg {
	width: 28px;
	height: 30px;
	fill: #eaba1b;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	z-index: 9999;
	text-align: center;
	border: solid;
	left: 25%;
	position: absolute;
	top: 0;
}

.woocommerce-members_area .shop_table tbody .membership .membership-actions a.renew:hover svg {
	fill: #cca113;
}

.woocommerce-members_area .wcm-cancelled {
	opacity: .3;
	cursor: not-allowed;
	display: none !important;
}

.barker-clearfix {
	order: 4;
	width: 100%;
	height: 200px;
}

.tbody-start {
	justify-content: start !important;
	transition: .5s;
}

.tbody-initial {
	justify-content: space-around;
	transition: .5s;
}

.membership-hide {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	/*transition: .5s;*/
	margin-top: -100%;
}

.sub-box-view {
	visibility: visible !important;
	display: block !important;
	transition: .5s !important;
	margin-top: 0 !important;
	z-index: 10 !important;
	padding: 22px !important;
	width: 100%;
}

.sub-box-hide {
	visibility: hidden;
	display: none;
	transition: .5s;
	margin-top: -100%;
	z-index: -99;
}

.barker_order_sub_box {
	visibility: hidden;
	display: none;
	transition: .5s;
	margin-top: -100%;
	z-index: -99;
}

.barker_order_sub_box .field-action {
	text-align: center;
}

.barker_order_sub_box .field-action .btn {
	padding: .9em 5em !important;
}

.barker_thead_status {
	font-weight: bold;
}

#barkerBox_identy {
	visibility: hidden;
	display: none;
	position: absolute;
	margin-left: -100%;
}





/*VIEW ORDER*/

.woocommerce-view-order .title {
	display: none;
}

.woocommerce-view-order .woocommerce-MyAccount-navigation {
	/*border: solid blue;*/
	background: lightblue;
	float: none !important;
	position: absolute;
	bottom: 0;
	margin-left: -100% !important;
	opacity: 0;
	z-index: -9999;
}

.woocommerce-view-order .woocommerce-MyAccount-content {
    /*border: solid green;*/
	float: none !important;
	width: 40% !important;
	background-color: #fcfbfa;
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

.woocommerce-view-order .woocommerce-MyAccount-content .orders-current__head {
	order: 1;
	width: 100%;
}

.woocommerce-view-order .woocommerce-MyAccount-content .order-short__box {
	order: 2;
}

.woocommerce-view-order .woocommerce-MyAccount-content .field-wrapper--simple {
	order: 4;
	padding: 20px 32px;
}

.woocommerce-view-order .woocommerce-MyAccount-content .field-wrapper--simple label {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 1em;
	display: block;
}

.woocommerce-view-order .woocommerce-MyAccount-content .woocommerce-order-details {
	order: 3;
	margin-bottom: 0;
}

.woocommerce-view-order .woocommerce-MyAccount-content .woocommerce-customer-details {
	order: 5;
	width: 100%;
}

.woocommerce-view-order .woocommerce table.shop_table {
	border: none;
}

.woocommerce-view-order .woocommerce table.shop_table tfoot th {
	border-top: none;
}

.woocommerce-view-order .woocommerce table.shop_table td {
	font-weight: 100 !important;
	font-family: Roboto;
	border-top: none;
}

.woocommerce-view-order .woocommerce table.shop_table td {
	font-weight: 100 !important;
	font-family: Roboto;
	text-align: right;
}

.woocommerce-view-order .order-again {
	display: none;
}

.woocommerce-view-order .woocommerce-order-details,
.woocommerce-view-order .woocommerce-customer-details {
	padding: 20px 32px;
}

.woocommerce-view-order .woocommerce-MyAccount-content p {
	display: none;
}

.woocommerce-view-order .orders-current__head.is-show-action {
	background: #fff;
	margin-bottom: 0 !important;
	padding-bottom: 25px;
}


/*BARKER SUSCRIPTION*/

.barker-section-off {
	opacity: .5;
	pointer-events: none;
	cursor: not-allowed;
}

.barker-section-on {
	opacity: 1;
	pointer-events: all;
	cursor: auto;
	z-index: 9;
}

#barkerResult_kg {
	visibility: hidden;
	position: absolute;
	cursor: not-allowed;
	margin-top: -100%;
	opacity: 0;
	z-index: -9999;
}




/*NEW SELECTOR STEP 2*/

.size-dog__slider .noUi-handle {
	width: 500px !important;
	height: 500px !important;
	border-radius: 50% !important;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent !important;
	border: 0;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: none !important;
	-webkit-tap-highlight-color: transparent;
}

.size-dog__slider .noUi-horizontal .noUi-handle {
	top: -15em !important;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
	right: 0 !important;
	left: 68% !important;
}

.size-dog__slider .noUi-handle::before, .size-dog__slider .noUi-handle::after {
	width: 38px;
	background: #eaba1b;
	height: 38px;
	border-radius: 50%;
	top: 45%;
	position: absolute;
	left: 50%;
}

#culqi-card-form {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	margin: 0 auto;
	width: 100%;
	max-width: 360px;
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.barker-paypageCard_year,
.barker-paypageCard_code {
	width: 45%;
}

#f-shipping-address-mask {
	color: #444 !important;
}


/*THANS PAGE*/

.woocommerce-order-received {
	height: 100%;
}

.woocommerce-order-received .page-wrap {
	background-color: #F6F4F0;
}

.woocommerce-order-received .title {
	display: block !important;
}

/*TEMPORAL STYLES*/

.woocommerce-order-received .woocommerce-order {
	/*border: solid red 1px;*/;
}

.woocommerce-order-received .woocommerce-order p {
	/*border: solid green 1px;*/;
}

.woocommerce-order-received .woocommerce-order p:nth-child(4) {
	display: none;
}

.woocommerce-order-received .woocommerce-order ul {
	/*border: solid blue 1px;*/
	margin: 50px auto !important;
	width: 60% !important;
}

.woocommerce-order-received .main .section {
	background-image: url('../../../barker-theme/assets/images/thanks/perro_bg.png');
	background-repeat: no-repeat;
	background-position: 2.5% 50%;
	padding: 65px 0 150px 0  !important;
}

.woocommerce ul.order_details li {
	border-right: 2px solid #fff !important;
}

.thanks-box_head {
	margin-bottom: 0 !important;
	background-color: #AF987D !important;
	color: #fff;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-weight: bold;
}

.thanks-box_info {
	margin-bottom: 0 !important;
	color: #444;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-weight: 100;
	background-color: #fff;
}

.woocommerce-order-received .woocommerce-order ul li {
	width: 33%;
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.woocommerce-order-received .woocommerce-order ul li strong {
	background-color: #fff;
}

.woocommerce-order-received .woocommerce-notice--success {
	text-align: center;
}

.thanks_button_container {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	justify-content: space-around;
}

.thanks_button_container a button {
	padding: .9em 5em !important;
}

.woocommerce-order-received .title h2 {
	font-size: 70px !important;
}

.woocommerce-order-received .page-wrap {
	height: 80% !important;
}

.woocommerce-order-received .woocommerce-order-details,
 .woocommerce-order-received .woocommerce-customer-details {
	display: none;
}

.woocommerce-order-received .woocommerce-thankyou-order-details .woocommerce-order-overview__email,
.woocommerce-order-received .woocommerce-thankyou-order-details .woocommerce-order-overview__payment-method {
	display: none;
} 




/*PAYMENT PAGE*/

.woocommerce-order-pay .title-paypage {
	display: block !important;
}

.woocommerce-order-pay .title-paypage h2 {
	font-size: 40px;
}

#culqi-card-form .field-group {
	margin-top: 25px !important;
}

#culqi-card-form .field-group .field-wrapper input {
	background-color: transparent;
}

#info_payment span {
	display: none !important;
}

.woocommerce-order-pay .page-wrap {
	background-color: #F6F4F0;
}

.woocommerce-order-pay .order_details {
	display: none;
}

.form .field-wrapper--highlight>input {
	box-shadow: none;
}

.waitMe_container {
	background-color: #F6F4F0;
}

.button.wc-backward {
	font-family: "Baloo Bhai";
	font-size: 16px !important;
	padding: .8em 1.25em !important;
	border-radius: 30px !important;
	width: 250px !important;
	max-width: 100% !important;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
	position: relative !important;
	color: #fff !important;
	background-color: #eaba1b !important;
	margin: 0 auto !important;
}

.woocommerce-account .addresses .title .edit {
	    font-family: "Baloo Bhai";
    color: #444;
    font-size: 16px;
    text-decoration: underline;
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
	margin-top: 7%;
}

@media (max-width: 767px) {

	.woocommerce-members_area .shop_table tbody .membership .membership-actions {
		flex-wrap: wrap;
		padding: 0 !important;
	}

	.woocommerce-members_area .shop_table tbody .membership .membership-actions a {
		width: 100%;
	}

	.woocommerce-EditAccountForm.edit-account p .woocommerce-Button.button {
		padding: .9em 6em !important;
	}

	.woocommerce-members_area .shop_table tbody .membership .membership-actions a.renew svg,
	.woocommerce-members_area .shop_table tbody .membership .membership-actions a.cancel svg,
	.woocommerce-members_area .shop_table tbody .membership .membership-actions a.view svg {
		left: 55%;
		z-index: 9;
	}

	.woocommerce-EditAccountForm,
	.woocommerce-MyAccount-content {
		margin-top: 20%;
	}



	
	.barker-tap-step {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: 99;
	    display: flex;
	    width: 100%;
	    border-radius: 10px;
	    align-items: center;
	    border: dashed 2px;
	    vertical-align: middle;
	}

	.barker-tap-step h3 {
	    text-align: center;
	    align-items: center;
	    width: 100%;
	    top: 50%;
	    vertical-align: middle;
	    border-radius: 10px;
	}

	.barker-tap-opacity {
		opacity: .1;
	}

	.barker-tap-offset {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		margin-bottom: -100%;
		z-index: -99999;
	}

	/*MEMBERS AREA*/

	.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
		content: '';
	}

	.woocommerce-members_area .woocommerce-MyAccount-content .woocommerce-account-my-memberships .shop_table {
		width: 100%;
		padding: 0 10px;
	}

	.woocommerce-members_area .page-name {
		display: none;
	}

	.woocommerce-members_area .page-wrap {
		padding-top: 30px;
	}

	.woocommerce-members_area .shop_table tbody .membership {
		width: 100%;
	}

	.barker_page_pedidos_sidebar {
		width: 100%;
		margin-top: 25px;
	}

	html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
		right: 0 !important;
		left: 25% !important;
	}

	.size-dog__slider .noUi-handle::before, .size-dog__slider .noUi-handle::after {
		width: 30px;
		height: 30px;
	}

	.woocommerce-order-received .page-wrap {
		height: 100% !important;
	}

	.woocommerce-order-received .title h2 {
		display: block !important;
		font-size: 50px !important;
	}

	.woocommerce-order-received .products .section-header {
		display: block !important;
	}

	.woocommerce-order-received .woocommerce-order ul {
	/*border: solid blue 1px;*/
		margin: 25px auto !important;
		width: 100% !important;
	}

	.woocommerce-view-order .woocommerce-MyAccount-content {
		width: 100%;
	}



	.woocommerce-checkout .page-name {
		display: none;
	}

	#delivery-wizard-p-3 {
		display: block;
		width: 100%;
		max-width: 345px;
		margin-top: 10%;
	}

	.u-hidden-tablet {
		display: block !important;
	}

	.woocommerce-checkout #order_review {
		width: 100% !important;
		padding: 0 !important;
		order: 1;
		margin-top: 15%;
	}

	#customer_details {
		order: 2;
	}

	.culqi-payform-container {
		order: 3;
	}

	.barker-checkout-radio-container {
		width: 100%;
		margin-bottom: 15px;
	}

	.barker-checkout-radio-house-container {
		font-size: 10px !important;
		height: 35px;
		padding: 10px 10px;
	}

	.barker-checkout-radio-house-container input[type="radio"] {
		width: 25px !important;
		height: 25px !important;
		left: 25% !important;
	}

	.barker-checkout-customCoupon-box .form-row-last button {
		padding: .9em 4em !important;
	}

	.form-row.place-order {
		padding: 5% 0% !important;
	}

	.col-1 {
		min-width: 320px !important;
	}

	.culqi-payform-container {
		margin-top: 10%;
	}

	.culqi-payform-subtitle label {
		text-align: left;
	}

	.culqi-payform-input input {
		margin: 15px 0 !important;
	}

	#place_order_2 {
		padding: .9em 3em !important;
	}
}

@media (min-width: 767px) {

	.woocommerce-checkout #customer_details {
		width: 50%;
	}

	.woocommerce-checkout #order_review {
		width: 50%;
	}

	#place_order_2 {
		display: none;
	}
}


/*PAGOS*/


.waitMe_container .waitMe {
	opacity: 1 !important;
}

#info_payment {
    z-index: 9;
    background-color: #F6F4F0;
    opacity: 1;
}

.waitMe_container .waitMe {
	background-position-x: 50% !important;
    background-position-y: 18% !important;
}
